* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding: 10px;
  margin-bottom: 150px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 25px;
  /* border: 1px solid black; */
}

.item-container p {
  width: 150px;
}



.tier {
  border: 2px solid grey;
  min-width: 400px;
}

.tier-one-container {
  background-color: #E2EFDA;
}

.tier-two-container {
  background-color: #FFF2CC;
}

.tier-three-container {
  background-color: #FCE4D6;
}

.tier-four-container {
  background-color: #FFA7A7;
}