* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 25px;
  border: 1px solid black;
}

.item-container p {
  width: 150px;
}