* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: #EEEEEE;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 25px;
  border-top: 1px solid black;
  padding: 8px 0px 8px 8px;
}

h1, h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

button {
  padding: 7px;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.item-container p {
  width: 50%;
  text-align: center;
}

.tier {
  border: 2px solid grey;
  min-width: 400px;
}



.tier-one-container {
  background-color: #E2EFDA;
  border-radius: 10px 10px 0px 0px;
}

.tier-two-container { background-color: #FFF2CC; }
.tier-three-container { background-color: #FCE4D6; }

.tier-four-container {
  background-color: #FFA7A7;
  border-radius: 0px 0px 10px 10px;
}